<%= render "shared/notifications" %>

<div id="external-join"
     class="row"
     data-room-id="<%= @room.to_param %>"
     data-meeting-id="<%= @scheduled_meeting.to_param %>"
     data-external-url="<%= room_scheduled_meeting_path(@room, @scheduled_meeting) %>">

  <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1><%= @scheduled_meeting.name %></h1>
    <p>
      <%= format_date(@scheduled_meeting.start_at) %> -
      <% if @is_running %>
        <span id="status-meeting">
          <%= t('default.scheduled_meeting.external.running', duration: @started_ago).html_safe %>
        </span>
      <% elsif @ended %>
        <span id="status-meeting">
          <%= t('default.scheduled_meeting.external.ended') %>
        </span>
      <% else %>
        <span id="status-meeting">
          <%= t('default.scheduled_meeting.external.not_started') %>
        </span>
      <% end %>
    </p>

    <% unless @ended %>
      <% if @participants_count == 1 %>
        <p id="participants_count">
          <%= t('default.scheduled_meeting.distance_in_words.x_participants.one') %>
        </p>
      <% else %>
        <p id="participants_count">
          <%= t('default.scheduled_meeting.distance_in_words.x_participants.other', count: @participants_count).html_safe %>
        </p>
      <% end %>

      <% if @is_running %>
        <%= image_tag 'meeting-running.svg' %>
      <% else %>
        <%= image_tag 'guest-wait.svg' %>
      <% end %>

      <%= form_with url: join_room_scheduled_meeting_path(@room, @scheduled_meeting) do |form| %>
        <div class="form-row">
          <div class="form-group col-12">
            <%= label_tag :first_name, t('default.scheduled_meeting.external.first_name') %>
            <%= text_field_tag :first_name, @first_name, required: true, class: "form-control", readonly: @first_name.present?, autofocus: !@first_name.present? %>
          </div>

          <div class="form-group col-12">
            <%= label_tag :last_name, t('default.scheduled_meeting.external.last_name') %>
            <%= text_field_tag :last_name, @last_name, required: true, class: "form-control", readonly: @last_name.present? %>
          </div>
        </div>

        <% if show_terms_use_message?(@room)%>
          <%= label_tag :terms, t("terms.message", enter_room: t("default.scheduled_meeting.external.join"), link: ext_elos_link(:terms)).html_safe, class: "message-terms" %>
        <% end %>

        <div class="form-actions d-flex justify-content-between align-items-center flex-column-reverse flex-sm-row">
          <% if @guest.present? %>
              <%= link_to t('default.scheduled_meeting.external.guest_name_change'), guest_logout_room_scheduled_meeting_path, class: "mt-4 mt-sm-0" %>
          <% end %>
          <%= submit_tag t('default.scheduled_meeting.external.join'), class: "btn btn-secondary ms-auto" %>
        </div>

        <% unless @disclaimer.blank? %>
          <div class="form-row">
            <div class="col-12 text-muted anonymous-disclaimer">
              <%= @disclaimer %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if show_external_widget?(@room)%>
  <%= render "shared/external_widget" %>
<% end %>