<div class="row">
  <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1><%= t('default.session.retry.title') %></h1>
    <p class="fs-5"><%= t('default.session.retry.description') %></p>

    <div class="error-description">
      <div class="error-logo-all" id="error500-logo"></div>
    </div>

    <div id="retry-alternatives" class="text-muted">
      <p><%= t('default.session.retry.alternatives.title') %></p>
      <ul>
        <li><%= t('default.session.retry.alternatives.a') %></li>
        <li><%= t('default.session.retry.alternatives.b') %></li>
        <li><%= t('default.session.retry.alternatives.c') %></li>
      </ul>
    </div>
  </div>
</div>
