<div class="row">
  <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1><%= t('default.session.retry.title') %></h1>

    <% if browser.safari? || browser.safari_webapp_mode? %>
      <p class="fs-5"><%= t('default.session.retry.new_tab.description') %></p>
      <%=
        link_to t('default.session.retry.new_tab.launch_btn'), '#',
        'data-launch': room_launch_path(launch_nonce: @launch_nonce),
        class: 'btn btn-primary btn-retry'
      %>
    <% else %>
      <p class="fs-5"><%= t('default.session.retry.description') %></p>
      <div class="error-description">
        <div class="error-logo-all" id="error500-logo"></div>
      </div>
    <% end %>

    <div id="retry-alternatives" class="text-muted">
      <p><%= t('default.session.retry.alternatives.title') %></p>
      <ul>
        <li><%= t('default.session.retry.alternatives.a') %></li>
        <li><%= t('default.session.retry.alternatives.b') %></li>
        <li><%= t('default.session.retry.alternatives.c') %></li>
      </ul>
    </div>
  </div>
</div>
