<div class="col-12 col-md-12 col-lg-12">

  <div class="d-flex justify-content-end align-items-center user-data mb-5">
    <i class="icon material-icons mr-2">person</i>
    <div class="user-name"><%= @user.full_name %> (<%= @user.email %>) </div>
  </div>

  <h2 class="mb-4">
    <%= t('rooms.external_handler_selector.title') %>
  </h2>

  <table class="table">
    <tbody>
      <% @handlers.each_with_index do |handler, index| %>
        <% # TODO: remove the gsub %>
        <% path = Rails.application.routes.url_helpers.room_launch_path(launch_nonce: @launch_nonce, handler: handler['handler']).gsub(Regexp.new('^/rooms/rooms'), '/rooms') %>

        <tr class="d-flex row tr-row">
          <td class="d-flex col-12 col-md-6 align-items-sm-center align-items-md-start">
            <%= handler['class_name'] %>
          </td>
          <td class="col-12 col-md-6">
            <%= button_to t('rooms.external_handler_selector.enter'), path, method: :post, class: "btn btn-primary btn-external-handler-access", data: { disable_with: t('rooms.external_handler_selector.entering') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div id="elos-logo" class="d-flex align-items-center">
  <%= image_tag "elos-logo.svg", title: "Elos", class: "mx-auto" %>
</div>
