<div>
  <div class="col-12 col-md-12 col-lg-12">
    <h2 class="mb-4">
      <%= t('coc.schools') %>
    </h2>

    <% @schools.each_with_index do |school, index| %>
      <div id="accordion">
      <div class="card mb-3">
        <div class="card-header border-bottom-0" id="heading-<%=index%>">
          <h2 class="item-collapse d-flex align-center mb-0 w-90" data-toggle="collapse" data-target="#collapse-<%=index%>" aria-expanded="true" aria-controls="collapse-<%=index%>">
            <%= school['name'] %>
          </h2>
        </div>
        <div id="collapse-<%=index%>" class="collapse show" aria-labelledby="heading-<%=index%>" data-parent="#accordion">
          <div class="card-body">
            <%= render "classes_list", segments: school['segments'] %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
