<%= render "shared/notifications" %>

<div id="external-join"
     class="row"
     data-room-id="<%= @room.to_param %>"
     data-meeting-id="<%= @scheduled_meeting.to_param %>"
     data-external-url="<%= room_scheduled_meeting_path(@room, @scheduled_meeting) %>">

  <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1><%= @scheduled_meeting.name %></h1>
    <p>
      <%= format_date(@scheduled_meeting.start_at) %> -
      <% if @is_running %>
        <span id="status-meeting">
          <%= t('default.scheduled_meeting.external.running', duration: @started_ago).html_safe %>
        </span>
      <% elsif @ended %>
        <span id="status-meeting">
          <%= t('default.scheduled_meeting.external.ended') %>
        </span>
      <% else %>
        <span id="status-meeting">
          <%= t('default.scheduled_meeting.external.not_started') %>
        </span>
      <% end %>
    </p>

    <% unless @ended %>
      <% if @participants_count == 1 %>
        <p id="participants_count">
          <%= t('default.scheduled_meeting.distance_in_words.x_participants.one') %>
        </p>
      <% else %>
        <p id="participants_count">
          <%= t('default.scheduled_meeting.distance_in_words.x_participants.other', count: @participants_count).html_safe %>
        </p>
      <% end %>

      <% if @is_running %>
        <%= image_tag 'meeting-running.svg' %>
      <% else %>
        <%= image_tag 'guest-wait.svg' %>
      <% end %>

      <%= form_with url: join_room_scheduled_meeting_path(@room, @scheduled_meeting), id: 'join-form' do |form| %>
        <div class="form-row">
          <div class="form-group col-12">
            <%= label_tag :first_name, t('default.scheduled_meeting.external.first_name') %>
            <%= text_field_tag :first_name, @first_name, required: true, class: "form-control", readonly: @first_name.present?, autofocus: !@first_name.present? %>
          </div>

          <div class="form-group col-12">
            <%= label_tag :last_name, t('default.scheduled_meeting.external.last_name') %>
            <%= text_field_tag :last_name, @last_name, required: true, class: "form-control", readonly: @last_name.present? %>
          </div>
        </div>

        <%# if show_terms_use_message?(@room)%>
          <%#= label_tag :terms, t("terms.message", enter_room: t("default.scheduled_meeting.external.join"), link: ext_rnp_link(:terms)).html_safe, class: "message-terms" %>
        <%# end %>

        <% can_join = (@user.present? && !(wait_for_mod?(@scheduled_meeting, @user) && !mod_in_room?(@scheduled_meeting))) || (!@user.present? && mod_in_room?(@scheduled_meeting)) %>
        <div id="open-modal" class="<%= (can_join && device_type? != 'desktop') ? '' : 'd-none' %>" >
          <div class="guest-logout">
            <% if @guest.present? %>
              <div class="form-actions">
                <%= link_to t('default.scheduled_meeting.external.guest_name_change'), guest_logout_room_scheduled_meeting_path, class: "btn-secondary" %>
              </div>
            <% end %>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target=<%="#offcanvasBottom-#{@scheduled_meeting.hash_id}"%> aria-controls="offcanvasBottom">
              <%= t('default.scheduled_meeting.external.join') %>
            </button>
          </div>
          <%= render "shared/app_offcanvas", submit: true, room: @room, meeting: @scheduled_meeting %>
        </div>

        <div id="browser-join" class="<%= (can_join && device_type? != 'desktop') ? 'd-none' : '' %>" >
          <div class="guest-logout">
            <% if @guest.present? %>
              <div class="form-actions">
                <%= link_to t('default.scheduled_meeting.external.guest_name_change'), guest_logout_room_scheduled_meeting_path, class: "btn-secondary" %>
              </div>
            <% end %>

            <div class="form-actions">
              <%= submit_tag t('default.scheduled_meeting.external.join'), class: "btn btn-primary" %>
            </div>
          </div>
        </div>

        <% unless @disclaimer.blank? %>
          <div class="form-row">
            <div class="col-12 text-muted anonymous-disclaimer">
              <%= @disclaimer %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
