<div id="wait-for-moderator"
     data-room-id="<%= @room.to_param %>"
     data-meeting-id="<%= @scheduled_meeting.to_param %>"
     data-join-url="<%= join_room_scheduled_meeting_path(@room, @scheduled_meeting) %>"
     data-wait-url="<%= running_room_scheduled_meeting_path(@room, @scheduled_meeting) %>"
     data-is-running="<%= @is_running %>"
     data-auto="<%= @auto_join %>">

  <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1><%= @scheduled_meeting.name %></h1>
    <p>
      <%= format_date(@scheduled_meeting.start_at) %> -
      <% if @auto_join %>
        <%= t('default.scheduled_meeting.wait.creating_session') %>
      <% else %>
        <%= t('default.scheduled_meeting.wait.not_started') %>
      <% end %>
    </p>

    <%= image_tag 'guest-wait.svg' %>

    <p><%= t('default.scheduled_meeting.wait.name_preview', name: @full_name).html_safe %></p>
    <h2><strong><%= @full_name%></strong></h2>

    <% if @user.nil? %>
      <u>
        <%=
          link_to t('default.scheduled_meeting.wait.change_name'),
          external_room_scheduled_meeting_path(@room, @scheduled_meeting),
          class: "color-primary"
        %>
      </u>
    <% end %>

    <div id="wait-for-moderator-back" style="display: none;">
      <%= button_to t('scheduled_meetings.wait.retry'), @post_to,
       method: :post, class: "btn btn-secondary btn-sm disabled", disabled: true %>
    </div>
  </div>
</div>
