<div id="filesender">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-12 col-md-10 text-center">
      <h1><%= t('meetings.recording.filesender.title') %></h1>
    </div>

    <div class="col-12 col-md-10 mb-5">
      <h2><%= t('meetings.recording.filesender.description') %></h2> 
    </div>
  </div>

  <%= form_with url: filesender_upload_path(@room) do |form| %>
    <div class="form-row d-flex align-items-center justify-content-center">
      <div class="form-group col-12 col-md-10">
        <%= form.label :subject, t('meetings.recording.filesender.subject') %>
        <%= form.text_field :subject, required: true, minlength: 2,  class: "form-control", autofocus: true %>
      </div>
      <div class="form-group col-12 col-md-10">
        <%= form.label :message, t('meetings.recording.filesender.message') %>
        <%= form.text_field :message, minlength: 2,  class: "form-control", autofocus: true %>
      </div>
      <div class="form-group col-12 col-md-10">
        <%= form.label :emails, t('meetings.recording.filesender.emails') %>
        <%= form.text_field :emails, id: "filesender-emails", required: true, class: "form-control" %>
      </div>
    </div>
    <div class="row form-actions d-flex align-items-center justify-content-center">
      <div class="col-12 col-md-10">
        <%= link_to t('_all.cancel'), meetings_room_path(@room), class: "btn btn-light" %>
        <%= form.submit t('_all.send'), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

</div>
