<% submit ||= false %>
<% room ||= nil %>
<% meeting ||= nil %>
<% target_blank ||= false %>


<div class="offcanvas offcanvas-bottom" tabindex="-1" id=<%="offcanvasBottom-#{meeting.hash_id}"%> aria-labelledby="offcanvasBottomLabel">
  <div id="rnp-logo" class="d-flex align-items-center">
    <%= image_tag "conferenciaweb_logo.svg", title: "RNP", class: "mx-auto" %>
  </div>
  <div class="offcanvas-body">
    <p>
      <%= t('open_app_modal.title') %>
    </p>

    <hr class="my-4" />

    <%= hidden_field_tag 'join_in_app', false, id: "join_in_app-#{meeting.hash_id}" %>
    <%= link_to t('open_app_modal.open_app'), '#', id: "open-app-btn-#{meeting.hash_id}", class: 'btn btn-primary open-app-btn', 'data-meeting-hash-id': meeting.hash_id %>
    <%= link_to t('open_app_modal.download_app'), '#', id: "download-app-btn-#{meeting.hash_id}", class: 'btn btn-primary download-app-btn' %>
    <div class="text-center">
      <% if submit %>
        <%= submit_tag t('open_app_modal.continue_using_browser'), class: "text-link" %>
      <% else %>
        <%= link_to t('open_app_modal.continue_using_browser'), join_room_scheduled_meeting_path(room, meeting),
          class: "text-link", target: "#{target_blank ? '_blank' : '_self'}" %>
      <% end %>
    </div>
  </div>
</div>
