<div id="error-wrapper">
  <div class="error-description">
    <div class="ops-text">
      <%= t("error.ops") %>
    </div>
    <div class="description-text">
      <%= @error[:suggestion] %>
    </div>
    <% if @error[:explanation] %>
      <div class="explanation-text">
        <%= @error[:explanation] %>
      </div>
    <% end %>
    <div class="error-logo-all" id="error<%= @error[:code] %>-logo"></div>
    <div class="title-text">
      <%= "#{t('default.app.error').upcase} #{@error[:code]} – #{@error[:message]}" %>
    </div>
  </div>
</div>
