<%# Params passed to render partial %>
<% [user, room, meetings, only_public] %>

<div id="meetings-list">
  <div class="row mb-md-3">
    <div id="meetings-header" class="col-12 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start">
      <h2 class="font-weight-bold mb-0"><%= t('meetings.history') %></h2>
    </div>

    <div id="meetings-filters" class="col-12 col-sm-6 mb-3 mb-sm-0 d-flex align-items-center justify-content-center justify-content-sm-end btn-group-toggle" data-toggle="buttons">
      <%# All meetings %>
      <label class="btn btn-light d-flex align-items-center justify-content-center h-50 w-25 active">
        <input type="radio" name="filters" value="no-filters" autocomplete="off" checked> <%= t('meetings.filters.no_filter') %>
      </label>
      <%# Only recorded meetings %>
      <label class="btn btn-light d-flex align-items-center justify-content-center h-50 w-25 ml-4">
        <input type="radio" name="filters" value="recorded-only" autocomplete="off"> <%= t('meetings.filters.recorded_only') %>
      </label>
    </div>
  </div>

  <%# Disable search for now %>
  <% if false %>
    <div id="search_bar" class="col-12">
      <input type="text" data-search="meetings" data-search-table="#meetings-table" class="form-control" placeholder="<%= t('meetings.search.placeholder') %>">
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <table id="meetings-table" class="table" data-search-target="1">
        <thead>
          <tr class="d-md-flex hide-on-mobile">
            <th class="col-md-5 by-0 py-0"><%= t("meetings.table.title") %></th>
            <th class="col-md-1 text-center by-0 py-0"><%= t("meetings.table.date") %></th>
            <th class="col-md-1 text-center by-0 py-0"><%= t("meetings.table.time") %></th>
            <th class="col-md-2 text-center by-0 py-0"><%= t("meetings.table.duration") %></th>
            <th class="col-md-1 text-center by-0 py-0"><%= t("meetings.table.status") %></th>
            <th class="col-md-1 text-center by-0 py-0"><%= t("meetings.table.recording") %></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div id="status" class="mb-3"
          data-fetch-meetings-endpoint="<%= @fetch_meetings_endpoint %>"
          data-per-page="<%= @per_page %>">
        <div class="loader-wrapper">
          <button class="load-meetings btn btn-light btn-sm"><%= t('meetings.load') %></button>
          <div class="loader"></div>
          <div class="all-loaded"><%= t('meetings.all_loaded') %></div>
          <div class="empty"><%= t('meetings.empty_list') %></div>
        </div>
      </div>
      <div class="table-footnote">
        <%= t('meetings.table.footnote', zone: current_formatted_time_zone) %>
      </div>
    </div>
  </div>
</div>
<button class="to-top btn btn-primary">
  <i class="fas fa-angle-up"></i>
</div>

<div id="playback-link-copied-toast" aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center toast-area">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000">
    <div class="toast-header">
      <%= t('_all.clipboard.link_copied') %>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
