<%# Params passed to render partial %>
<% [user, room, meeting, recording] %>

<%# For deleted recordings, adds the class `color-gray-04` to their texts to to signal that it has been deleted %>
<% deleted_class = (recording.present? && recording[:state] == 'deleted') ? 'color-gray-04' : '' %>

<tr class="meeting-row d-flex row tr-row rec-<%= recording.present? %>">
  <%# Meeting name and description %>
  <td class="col-10 col-md-3 td-titles" data-search-field="1">
    <% meeting_name = meeting[:meetingName] ? meeting[:meetingName] : recording[:metadata][:name] %>
    <div class="item-title word-break" title="<%= meeting_name %>">
      <span class="<%= deleted_class %>"><%= meeting_name.truncate(50) %></span>
    </div>
    <% if recording.present? %>
      <div class="item-description" data-search-field="1">
        <% meeting_description = recording[:metadata][:'bbb-recording-description'] ? recording[:metadata][:'bbb-recording-description'] : nil %>
        <div id='recording-description-text' class="word-break" title="<%= meeting_description %>">
          <span class="<%= deleted_class %>"><%= meeting_description&.truncate(100) %></span>
        </div>
      </div>
    <% end %>
  </td>

  <%# Meeting creation date %>
  <td class="col-5 col-md-2">
    <div class="meeting-info me-auto me-md-0 d-flex flex-column align-items-center <%= deleted_class %>">
      <%= format_date(meeting[:startTime].to_i, :day_month_year, false) %>

      <% scheduled_meeting_id = meeting[:metadata][:'bbb-meeting-db-id'] %>
      <% if recurring_meeting?(scheduled_meeting_id) %>
        <% recurrence_type = meeting_recurrence(scheduled_meeting_id) %>
        <span class="badge badge-recurring-meeting <%= recurrence_type %> d-flex mt-1">
          <span><%= t("default.scheduled_meeting.repeat_options.#{recurrence_type}") %></span>
        </span>
      <% end %>
    </div>
  </td>

  <%# Meeting creation time %>
  <td class="col-3 col-md-1">
    <div class="meeting-info <%= deleted_class %>">
      <%= format_time(meeting[:startTime].to_i) %>
    </div>
  </td>

  <%# Meeting duration %>
  <td class="col-4 col-md-1 text-center">
    <div class="meeting-info ms-auto ms-md-0 <%= deleted_class %>">
      <% duration = meeting[:endTime].to_i/1000 - meeting[:startTime].to_i/1000 %>
      <% if duration/60 > 0 %>
        <%= duration_in_hours_and_minutes(duration, true).capitalize %>
      <% else %>
        <%= t("meetings.duration.less_than_a_minute") %>
      <% end %>
    </div>
  </td>

  <%# Meeting expiration date %>
  <% if recording.present? && recording[:expirationDate].present? %>
    <td class="col-12 col-md-2">
      <div class="me-auto me-md-0 meeting-expire <%= deleted_class %>">
        <span class="d-md-none">
          <%= icon_info_circle(class: 'color-error') %>
        </span>
        <span class="d-md-none">
          <%= t("meetings.recording.exp_date") %>
        </span>
        <%= format_date(recording[:expirationDate].to_i, :day_month_year, false) %>
      </div>
    </td>
  <% else %>
    <td class="col-12 col-md-2">
    </td>
  <% end %>

  <%# Meeting with recording %>
  <% if recording.present? %>
    <%# Recording visibility %>
    <td class="<%= recording[:published] ? 'col-2' : 'col-12' %> col-md-1">
      <% if can_edit?(user, room) %>
        <% unless recording[:state] == 'deleted' %>
          <%# Unpublish recording %>
          <% if recording[:published] %>
            <%= link_to recording_unpublish_path(room, record_id: recording[:recordID]),
            method: :post,
            data: { confirm: t('meetings.recording.confirm.unpublish'), 'tracking-id': 'lti-unpublish-recording', 'institution-guid': "#{@institution_guid}" },
            class: "d-inline-flex text-decoration-none rec-edit" do %>
              <%= icon_visibility(title: t('meetings.recording.unpublish'), class: 'color-secondary icon-rec-row') %>
            <% end %>
          <%# Publish recording %>
          <% else %>
            <%= link_to recording_publish_path(room, record_id: recording[:recordID]),
            method: :post,
            data: { confirm: t('meetings.recording.confirm.publish'), 'tracking-id': 'lti-publish-recording', 'institution-guid': "#{@institution_guid}" },
            class: "d-inline-flex text-decoration-none rec-edit" do %>
              <%= icon_visibility_off(title: t("meetings.recording.publish"), class: 'color-gray-04 icon-rec-row') %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </td>

    <%# Recording artifacts %>
    <td class="col-5 col-md-1 justify-content-md-center icon-container">
      <% if recording[:state] == 'processing' %>
        <%= icon_recording_load(title: t("meetings.recording.processing"), class: 'color-primary fa-2x') %>
      <% else %>
        <% if recording[:published] %>
          <% browser_safari = browser.safari? || browser.safari_webapp_mode? %>
          <%# AI Artifacts dropdown %>
          <div class="dropdown dropdown-ai-artifacts">
            <a href="#" class="dropdown-toggle text-decoration-none dropdown-ai-artifacts-link"
              internal-meeting-id="<%= meeting[:internalMeetingID] %>"
              download-artifacts-endpoint="<%= room_scheduled_meeting_internal_download_ai_artifacts_path(@room, meeting[:meetingID], meeting[:internalMeetingID]) %>"
              data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
              <span class="dropdown-icon-btn">
                <%= icon_ai_artifacts_elos %>
                <span class="icon-dropdown-container"><%= icon_dropdown_arrow %></span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-ai-artifacts-menu"
              aria-labelledby="dropdown-ai-artifacts-<%= meeting[:internalMeetingID] %>">
              <div class="dropdown-item-loading">
                <%= render "shared/placeholder-loading", text: t('meetings.meeting_data_download.download_ai_summary') %>
                <%= render "shared/placeholder-loading", text: t('meetings.meeting_data_download.download_transcription') %>
              </div>
            </div>
          </div>

          <%# Meeting artifacts download dropdown %>
          <% has_non_presentation = recording[:playbacks].any? { |p| p[:type] != 'presentation' } %>
          <% if can_edit?(user, room) || (can_download_recording?(user, room) && has_non_presentation) %>
            <div class="dropdown dropdown-download">
              <a href="#" class="dropdown-toggle text-decoration-none dropdown-download-link"
                internal-meeting-id="<%= meeting[:internalMeetingID] %>"
                download-artifacts-endpoint="<%= room_scheduled_meeting_internal_download_artifacts_path(@room, meeting[:meetingID], meeting[:internalMeetingID]) %>"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="dropdown-icon-btn">
                  <i class="icon material-icons color-secondary">file_download</i>
                  <span class="icon-dropdown-container">
                    <%= icon_dropdown_arrow %>
                  </span>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-download-artifacts" aria-labelledby="dropdown-download-<%= meeting[:internalMeetingID] %>">
                <span class="download-artifacts-label"><%= t('reports.download') %></span>
                <% if can_edit?(user, room) %>
                  <div class="dropdown-item-loading">
                    <%= render "shared/placeholder-loading", text: t('meetings.meeting_data_download.download_notes') %>
                    <%= render "shared/placeholder-loading", text: t('meetings.meeting_data_download.download_participants') %>
                    <%= render "shared/placeholder-loading", text: t('meetings.meeting_data_download.dashboard') %>
                  </div>
                <% end %>
                <% if can_download_recording?(user, room) %>
                  <% recording[:playbacks].each do |p| %>
                    <% next if p[:type] == 'presentation' %>
                    <% url = playback_url(room, recording[:recordID], p) %>
                    <%=
                    link_to url, class: 'dropdown-item rec-edit',
                    target: browser_safari ? '_self' : '_blank',
                    data: { 'tracking-id': 'lti-download-recording', 'institution-guid': "#{@institution_guid}" } do %>
                      <%= icon_video_library %>
                      <%= t("meetings.recording.playbacks.#{p[:type]}") %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>

          <%# Playback (presentation) %>
          <% playback_pres = recording[:playbacks].find { |p| p[:type] == 'presentation' } %>
          <% if playback_pres %>
            <% url = playback_url(room, recording[:recordID], playback_pres) %>
            <%=
            link_to icon_conference_play(title: t("meetings.recording.playbacks.presentation"), class: 'fa-2x'), url,
            data: { 'tracking-id': 'lti-play-record', 'institution-guid': "#{@institution_guid}" },
            class: 'd-flex text-decoration-none', target: browser_safari ? '_self' : '_blank'
            %>
          <% end %>
        <% end %>
      <% end %>
    </td>

    <%# Options dropdown %>
    <td class="col-2 col-md-1 td-dropdown-opts">
      <% if recording[:state] != 'processing' && (recording[:published] || can_edit?(user, room)) %>
        <% show_opts = (recording[:published] && recording[:playbacks].any? { |p| p[:type] == 'presentation' }) || (can_edit?(user, room) && recording[:state] != 'deleted') %>
        <% if show_opts %>
          <div class="dropdown dropdown-opts">
            <a href="#" class="dropdown-toggle d-flex text-decoration-none dropdown-opts-link"
              meeting-id="<%= meeting[:meetingID] %>"
              internal-meeting-id="<%= meeting[:internalMeetingID] %>"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= icon_options_dots %>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-items" aria-labelledby="dropdown-opts-<%= meeting[:internalMeetingID] %>">
              <span class="recording-settings-label"><%= t('meetings.recording.settings') %></span>
              <%# Copy playback link %>
              <% if recording[:published] %>
                <% playback = recording[:playbacks].find { |p| p[:type] == 'presentation' } %>
                <% if playback.present? %>
                  <%=
                  link_to '#',
                  data: {
                    'clipboard-text': playback_url(room, recording[:recordID], playback),
                    turbolinks: false,
                    'toast-id': '#playback-link-copied-toast',
                    'tracking-id': 'lti-copy-playback-link',
                    'institution-guid': "#{@institution_guid}"
                  },
                  class: "dropdown-item copy-to-clipboard" do
                  %>
                    <%= icon_content_copy %>
                    <%= t('meetings.recording.playback_link') %>
                  <% end %>
                <% end %>
                <div class="dropdown-divider"></div>
              <% end %>

              <% if can_edit?(user, room) %>
                <% unless recording[:state] == 'deleted' %>
                  <%# Delete recording %>
                  <%= link_to recording_delete_path(room, record_id: recording[:recordID]),
                  method: :post,
                  data: { confirm: t('meetings.recording.confirm.destroy'), 'tracking-id': 'lti-delete-recording', 'institution-guid': "#{@institution_guid}" },
                  class: "dropdown-item rec-edit rec-destroy" do %>
                    <%= icon_delete %>
                    <%= t("meetings.recording.destroy") %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </td>

  <%# Meeting without recording, leave 'Status' and 'Recording' columns empty %>
  <% else %>
    <td class="col-md-1"></td>
    <%# Meeting artifacts download dropdown %>
    <td class="col-5 col-md-1 justify-content-md-center icon-container">
      <% if can_edit?(user, room) %>
        <div class="dropdown dropdown-download">
          <a href="#" class="dropdown-toggle text-decoration-none dropdown-download-link"
            internal-meeting-id="<%= meeting[:internalMeetingID] %>"
            download-artifacts-endpoint="<%= room_scheduled_meeting_internal_download_artifacts_path(room, meeting[:meetingID], meeting[:internalMeetingID]) %>"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-icon-btn">
              <i class="icon material-icons color-secondary">file_download</i>
              <span class="icon-dropdown-container">
                <%= icon_dropdown_arrow %>
              </span>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-download-artifacts" aria-labelledby="dropdown-download-<%= meeting[:internalMeetingID] %>">
            <span class="download-artifacts-label"><%= t('reports.download') %></span>
            <div class="dropdown-item-loading">
              <%= render "shared/placeholder-loading", text: t('meetings.meeting_data_download.download_notes') %>
              <%= render "shared/placeholder-loading", text: t('meetings.meeting_data_download.download_participants') %>
              <%= render "shared/placeholder-loading", text: t('meetings.meeting_data_download.dashboard') %>
            </div>
          </div>
        </div>
      <% end %>
    </td>
    <%# Options dropdown %>
    <td class="col-2 col-md-1 td-dropdown-opts">
    </td>
  <% end %>
</tr>

<%= content_for :render_async %>
