<div id="reports-list" class="row mt-3">
  <div class="col-12">
    <h2><%= t('reports.title') %></h2>
  </div>

  <% if reports.count > 0 %>
    <div class="col-12">
      <table id="report-table" class="table">
        <tbody>
          <% reports.each do |report| %>
            <tr class="d-flex row tr-row" id="report-<%= report %>">
              <td class="col-6 col-sm-8 col-lg-9 align-middle td-titles">
                <div class="item-title">
                  <% report_period = Time.strptime(report, '%Y-%m') %>
                  <%= format_date(report_period+1.day, '%b %Y').capitalize %>
                </div>
              </td>

              <td class="col-6 col-sm-4 col-lg-3">
                <a href="#" class="dropdown-toggle download-reports btn btn-secondary px-2 px-md-5 py-2 py-md-3"
                  id="download-report-<%= report %>"
                  report-date="<%= report %>"
                  download-reports-endpoint="<%= download_room_reports_path(@room, period: report) %>"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= t('reports.download') %>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-items" aria-labelledby="dropdown-opts-<%= report %>">
                  <div class="dropdown-item-loading">
                    <%= render "shared/placeholder-loading", text: t("reports.download_options.csv") %>
                    <%= render "shared/placeholder-loading", text: t("reports.download_options.xls") %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="table-footnote text-start">
        <%= t('reports.table_footnote') %>
      </div>
    </div>
  <% else %>
    <div class="col-12 empty-list text-center">
      <%= render "shared/empty_list" %>
    </div>
  <% end %>
</div>
