<div id="action-buttons" class="row">
  <% if can_edit?(user, room) && @app_launch.params['custom_params']['institution_guid'].present? && @room.consumer_config.present? %>
    <div id="view-reports" class="col-12 col-sm-12 col-md-4 col-lg-4">
      <%=
      link_to t('reports.view_reports'),
      room_reports_path(room),
      class: "btn btn-light"
      %>
    </div>
  <% end %>

  <% if can_edit?(user, room) %>
    <div id="view-meetings" class="col-12 col-sm-12 col-md-4 col-lg-4">
  <% else %>
    <div id="view-meetings" class="col-12 col-sm-6 col-md-6 col-lg-4 offset-lg-4">
  <% end %>
    <%=
    link_to t('scheduled_meetings.show.view_history'),
     meetings_room_path(room),
     class: "btn btn-light"
    %>
  </div>

    <% if can_edit?(user, room) %>
    <div id="schedule-meeting" class="col-12 col-sm-12 col-md-4 col-lg-4">
      <%=
      link_to t('scheduled_meetings.new.add'),
       new_room_scheduled_meeting_path(room),
       class: "btn btn-secondary"
      %>
    </div>
  <% end %>
</div>

<% list_title = t('scheduled_meetings.title') %>
<% if @room.moodle_group_select_enabled? %>
  <div class="mb-5">
    <%= render "shared/group_select", redir_url: room_path(room) %>
  </div>
  <% list_title = t('scheduled_meetings.title_with_group', group_name: @current_group_name) %>
<% end %>

<div id="scheduled-meetings-list" class="row">
  <div class="col-12">
    <h2><%= list_title %></h2>

    <% if scheduled_meetings.count > 0 %>
      <table class="table">
        <tbody>
          <% scheduled_meetings.each do |meeting| %>
            <%= render "shared/scheduled_meeting_row", user: user, room: room, meeting: meeting %>
          <% end %>
        </tbody>
      </table>
      <div class="table-footnote">
        <%= t('scheduled_meetings.table.footnote', zone: current_formatted_time_zone) %>
      </div>
      <div class="table-pagination">
        <%= paginate scheduled_meetings %>
      </div>
    <% else %>
      <%= render "shared/empty_list" %>
    <% end %>

  </div>
</div>

<div id="elos-logo" class="d-flex align-items-center">
  <%= image_tag "elos-logo.svg", title: "Elos", class: "mx-auto" %>
</div>

<% if show_external_widget?(room)%>
  <%= render "shared/external_widget" %>
<% end %>

<%= render "shared/toast", {toast_id: 'external-link-copied-toast', text: t('_all.clipboard.link_copied')} %>
<%= render "shared/toast", {toast_id: 'session-token-req-failed-toast', text: t('error.session_token.request_failed')} %>
