<div id="error-wrapper">
  <div class="error-description">
    <div class="ops-text">
      <%= t("error.ops") %>
    </div>
    <div class="description-text">
      <%= suggestion %>
    </div>
    <% if explanation %>
      <div class="explanation-text">
        <%= explanation %>
      </div>
    <% end %>
    <div class="error-logo-all" id="error<%= code %>-logo"></div>
    <div class="title-text">
      <%= "#{t('default.app.error').upcase} #{code} – #{message}" %>
    </div>
  </div>
</div>
