<% if @title.present? %>
  <div class="mb-4">

    <% if can_edit?(user, room) %>
      <div class="d-flex align-items-center justify-content-between mb-5">
        <%= link_to coc_classes_path(@app_launch.room_handler), class: "btn btn-light btn-sm" do %>
          <div class="d-flex">
            <i class="icon material-icons">chevron_left</i>
            <%= t('rooms.back') %>
          </div>
        <% end %>
    <% else %>
      <div class="d-flex align-items-center justify-content-end mb-5">
    <% end %>
        <div class="d-flex align-items-center user-data">
          <i class="icon material-icons mr-2">person</i>
          <div class="user-name"> <%= user.full_name %> </div>
        </div>

      </div>

    <div class="d-flex flex-column">
      <% if @subtitle.present? %>
        <span class="subtitle-header-rooms mb-2"> <%= @subtitle %> </span>
      <% end %>
      <h2> <%= @title %> </h2>
    </div>

  </div>
<% end %>
