<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= Rails.application.config.app_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="running-polling-delay" content="<%= Rails.application.config.running_polling_delay %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200", rel: "stylesheet", media: "all" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet", media: "all" %>
    <%= render 'layouts/theme', theme: app_theme %>
    <%= render 'layouts/gtm_head' if app_theme == 'elos' %>
    <%= render 'shared/rnp_chat' if app_theme == 'rnp' %>
  </head>

  <body lang="<%= I18n.locale %>"
        data-locale = "<%= I18n.locale %>"
        data-controller="<%= params[:controller] %>"
        data-action="<%= params[:action] %>"
        data-use-cable="<%= Rails.configuration.cable_enabled %>"
        data-session-token-url="<%= create_session_token_url %>"
        data-browser-is-safari="<%= browser.safari? || browser.safari_webapp_mode? %>"
        class="<%= theme_class %>">
    <%= render 'layouts/gtm_body' if app_theme == 'elos' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
